.callout {
  &__type-info {
    color: var(--md-sys-color-surface-tint);
    border-color: var(--md-sys-color-surface-tint);
    background-color: rgba($blue, 0.05);
  }

  &__type-error {
    color: var(--md-sys-color-error);
    border-color: var(--md-sys-color-error);
    background-color: rgba($red, 0.05);
  }
}
